.my-work__section {
    padding-bottom: 60px;
}

.my-work-main__container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    row-gap: 60px;
    column-gap: 20px;
}

.my-work-project__container {
    display: flex;
    flex-direction: column;
    width: calc(50% - 10px);
    gap: 40px;
}

.my-work-project__image {
    width: 100%;
    height: 280px;
    border-radius: 6px;
    background-color: rgb(24, 24, 24);
    border: 1px solid rgba(255, 255, 255, 0.12);
}

.my-work-project-content__container {
    display: flex;
    width: 100%;
}

.my-work-project__content {
    display: flex;
    flex-direction: column;
    border-left: 4px solid #fff;
    padding-left: 20px;
}

.my-work-project__title {
    height: 40px;
}

.my-work-project__date {
    height: 20px;
}

.my-work-project__tools {
    height: 20px;
}

.my-work-project__description {
    width: 280px;
    margin-left: auto;
    text-align: end;
}

.my-work-banner__container {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    gap: 20px;
    background-color: rgb(24, 24, 24);
    border: 1px solid rgba(255, 0, 0, 0.75);
    border-radius: 6px;
    margin-top: 60px;
}

.my-work-banner__container::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: red;
    z-index: 990;
    opacity: .05;
}

.my-work-banner__title {
    display: flex;
    align-items: center;
    gap: 20px;
}

@media (max-width: 1080px) {
   
    .contact-me-main__container {
        flex-direction: column;
    }

    .contact-me-primary__container {
        width: 100% !important;
    }

    .contact-me-secondary__container {
        width: 100% !important;
    }

}

@media (max-width: 600px) {
   
    .my-work-project__content {
        height: 80px;
        gap: 4px;
    }

    .my-work-project__date {
        margin-left: none;
    }

    .my-work-project__title {
        height: auto;
    }

    .my-work-project-content__container {
        flex-direction: column;
        gap: 20px;
    }

    .my-work-project__description {
        margin-left: 0;
        text-align: left;
        width: 100%;
    }

}

@media (max-width: 330px) {
   
    .contact-me__email {
        font-size: 16px !important;
    }

    .contact-me__phone {
        font-size: 16px !important;
    }

    .contact-me__location {
        font-size: 16px !important;
    }

}