.footer__credits {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 100px;
    color:rgba(0,0,0,0);
    background: linear-gradient(to right, rgb(116, 202, 203),rgb(203, 116, 170),rgb(203, 116, 170));
    background-size: 200% 200%;
    background-clip: text;
    -webkit-background-clip:text;
}

.copyright {
    display: flex;
    align-items: center;
    width: 100%;
    font-family: 'IBM Plex Mono', sans-serif;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media (max-width: 330px) {
   
    .footer__credits {
        font-size: 40px !important;
    }

}